<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="../reset.css">
  <link rel="stylesheet" type="text/css" href="login-styles.css">
  <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light+Two' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
  <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <title>login</title>
</head>
<body>

  <header class="login-header">
    <h1 class="pg-title">OPAWESOME</h1>
    <%= image_tag asset_path('Drawing.png'), class: "media-object" %>
  </header>

    <%= form_tag do %>
    <div class="login-form">
    <div class="login-info">

      <div class="email" type="input">
        <%= text_field_tag :email, nil, :placeholder => 'Email' %>
      </div>

      <div class="password">
        <%= password_field_tag :password, nil, :placeholder => 'Password' %>
      </div>

    </div>

    <div class="btn-user-login">
      <%= submit_tag("Login", :class => "btn-user-login" ) %>
    </div>
    <% end %>
    <!-- <form class="login-form"> -->

        <!-- <input class="username" placeholder="username">
        <input class="password" placeholder="password"> -->

        <!-- <button class="btn-user-login">Login</button> -->
      <div class="btn-new-user">
        <%= button_to 'New User', new_user_path, :class => "btn-new-user", :method => :get %>
      </div>
      <div class="btn-survey-list">
        <button class="btn-take-surveys">Take a Survey</button>
      </div>

    </form>
  </div>
</div>
  <div class="login-footer">
    <p class="credits">Created by 52 Shades of Grey</p>
    <a href="https://github.com/52-Shades-Of-Grey/survey_opossum"><i class="fa fa-github"></i>
  </div>

</body>
</html>
