<p id="notice"><%= notice %></p>

<h1>Listing String Questions</h1>

<table>
  <thead>
    <tr>
      <th>Query</th>
      <th>Answer</th>
      <th>Survey</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @string_questions.each do |string_question| %>
      <tr>
        <td><%= string_question.query %></td>
        <td><%= string_question.answer %></td>
        <td><%= string_question.survey_id %></td>
        <td><%= link_to 'Show', string_question %></td>
        <td><%= link_to 'Edit', edit_string_question_path(string_question) %></td>
        <td><%= link_to 'Destroy', string_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New String question', new_string_question_path %>
