<p id="notice"><%= notice %></p>

<p>
  <strong>Query:</strong>
  <%= @string_question.query %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @string_question.answer %>
</p>

<p>
  <strong>Survey:</strong>
  <%= @string_question.survey_id %>
</p>

<%= link_to 'Edit', edit_string_question_path(@string_question) %> |
<%= link_to 'Back', string_questions_path %>
