<h1>Add Questions for your Survey</h1>
<%= form_for(@survey) do |f| %>
  <%= f.fields_for(:questions) do |ff| %>
    <div class="field">
      <%= ff.label :query %><br>
      <%= ff.text_field :query %>
    </div>
    <div class="field">
      <%= ff.label :description %><br>
      <%= ff.text_field :description %>
    </div>
    <div class="field">
      <%= ff.label :required, 'Make Private?' %><br>
      <%= ff.check_box :required %>
    </div>
  <% end %>
<% end %>
