<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<header class="dashboard-header">
  <div class="user-dashboard-info">
    <h1 class="dashboard-title">Welcome!</h1>
    <h3 class="user-name"><%= @user.name %></h3>
  </div>

    <%= image_tag asset_path('Drawing.png'), class: "media-object", id: "dashboard-icon"%>
    <i class="fa fa-search"></i>
    <input class="search-surveys" placeholder="Enter survey keyword">

</header>

<div class="dashboard-background">

  <div class="my-surveys">
    <div class="my-surveys-header">
      <h3 class="my-surveys-title">My Surveys</h3>
    </div>

    <div class="my-surveys-list">

    <table class="my-surveys-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Keyword</th>
          <th>Description</th>
          <th>Published</th>
          <th> URL </th>
          <th colspan="3"></th>
        </tr>
      </thead>



  <tbody>
    <% @user.surveys.each do |survey| %>
      <tr>
        <td><%= survey.name %></td>
        <td><%= survey.keyword %></td>
        <td><%= survey.description %></td>
        <td><%= survey.published %></td>
        <% if survey.published == true %>
          <td><%= survey.url %></td>
        <% else %>
          <td></td>
        <% end %>
        <td><%= link_to 'View', edit_survey_path(survey) %></td>
        <td><%= link_to 'Destroy', survey, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

    <br>

  </div>
</div>

<div class="new-survey-link">
  <%= link_to 'New Survey', new_survey_path %>
</div>

<div class="dashboard-footer">
  <div class="logout">
    <%= logout_button %>
  </div>
  <div class="action-events">
    <%= link_to 'Take a Survey | ', all_surveys_path, :class => "take-survey-link", :method => :get %>
    <%= link_to 'Update Account Info', edit_user_path(@user.id) %>
  </div>
</div>
