<div class="outer-container">
    <div class="content">
      <div class="survey-header">
      <h1 class="survey-title"><%= @survey.name %></h1>
        
    <%= form_for(@survey) do |f| %>
      <div id="questions-holder">
        <div class="fields-for">
          <%= f.fields_for(:questions) do |ff| %>
            <div class="question-container">
              <h1>Add You Question</h1>
              <div class="field">
                <%= ff.label :query %><br>
                <%= ff.text_field :query %>
              </div>
              <div class="field">
                <%= ff.label :description %><br>
                <%= ff.text_field :description %>
              </div>
              <div class="field">
                <%= ff.label :required, 'Make required?' %><br>
                <%= ff.check_box :required %>
              </div>
              <div class="field">
                <%= ff.label :query_type %><br>
                <%= ff.text_field :query_type %>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="actions hide">
        <%= f.submit :Submit %>
      </div>
    <% end %>

    <div class="btn-container">
         <button class="btn-new-question">Add Question</button>
    </div>

    <%= link_to 'Edit', edit_survey_path(@survey) %> |
    <%= link_to 'Back', surveys_path %>

      </div>
        <ul class="question-ul">
        </ul>
        <button class="btn-create-survey">Submit</button>
  </div>
</div>


