<!DOCTYPE html>
<html>
<head>
  <title>SurveyOpossum</title>
  <link href='http://fonts.googleapis.com/css?family=Sintony' rel='stylesheet' type='text/css'>
  <link rel="shortcut icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-06-14/967066f5e6649276d2dc992ecdbde3bf.ico.png" type="image/x-icon">
  <link rel="icon" href="http://www.favicon-generator.org/favicon-generator/htdocs/favicons/2015-06-14/967066f5e6649276d2dc992ecdbde3bf.ico.png" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p id="notice"><%= notice %></p>
<%= yield %>
<div class="login-page-link">
  <%= login_page %>
<div>
</body>
</html>
